<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Periódico Web{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'javascript/main.js' %}"></script>
</head>
<body>
  <header>
    <img src="{% static 'images/periodico.jpg' %}" alt="Logo Periódico Web" style="height:50px;">
  </header>
  {% include 'navbar.html' %}
  <main>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
  </main>
  {% include 'footer.html' %}
</body>
</html>



