<html>
  <head> </head>
    <body>
        <h1>PERIODICO WEB</h1>
        <h2>Listado de enlaces</h2>
        <ul>
            <li><a href="{% url 'lista_articulos' %}">Lista de Artículos</a></li>
            <li><a href="{% url 'detalle_articulo' id=1 %}">Ver detalle artículo (ID 1)</a></li>
            <li><a href="{% url 'articulos_por_fecha' anio=2025 mes=10 %}">Artículos publicados en Octubre 2025</a></li>
            <li><a href="{% url 'articulos_por_seccion' nombre='DEP' %}">Artículos sección DEPORTES</a></li>
            <li><a href="{% url 'buscar_articulos' criterio='Politica' %}">Buscar artículos sobre "Politica"</a></li>
            <li><a href="{% url 'estadisticas_articulos' %}">Ver estadísticas de artículos</a></li>
            <li><a href="{% url 'estadisticas_autores' %}">Ver estadísticas por autor</a></li>




        </ul>
  </html>
