{% extends "base.html" %}

{% block title %}Artículos con Etiquetas{% endblock %}
{% block header %}<h1>Artículos con etiquetas</h1>{% endblock %}

{% block content %}
{% if articulos %}
  {% for articulo in articulos %}
    <div>
      <p><strong>Título:</strong> {{ articulo.titulo|capfirst }}</p>
      <p><strong>Autor:</strong> {{ articulo.autor.nombre|title }}</p>
      <p><strong>Sección:</strong> {% if articulo.seccion %}{{ articulo.seccion.nombre|default_if_none:"Sin sección" }}{% else %}Sin sección{% endif %}</p>
      <p><strong>Etiquetas:</strong>
        {% for relacion in articulo.articuloetiqueta_set.all %}
          {{ relacion.etiqueta.nombre|lower }}{% if not forloop.last %}, {% endif %}
        {% empty %}
          Ninguna
        {% endfor %}
      </p>
      <p><strong>Fecha:</strong> {{ articulo.publicado_en|date:"d/m/Y" }}</p>
    </div>
    <hr>
  {% endfor %}
{% else %}
  <p>No hay artículos con etiquetas.</p>
{% endif %}
{% endblock %}



