<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Lista de Artículos</title>
</head>
<body>
    <h1>Lista de Artículos</h1>
    <ul>
      {% for articulo in articulos %}
        <li>
          <h2>{{ articulo.titulo }}</h2>
          <h3>- Autor: {{ articulo.autor.nombre }}</h3>
          <h3>
            - Sección: 
            {% if articulo.seccion %}
              {{ articulo.seccion.nombre }}
            {% else %}
              Sin sección
            {% endif %}
          </h3>
          <h4>- Publicado en: {{ articulo.publicado_en|date:"d/m/Y H:i" }}</h4>
        </li>
      {% empty %}
        <li>No hay artículos disponibles.</li>
      {% endfor %}
    </ul>
</body>
</html>

