{% extends "base.html" %}

{% block title %}{{ articulo.titulo }}{% endblock %}
{% block header %}<h1>{{ articulo.titulo }}</h1>{% endblock %}

{% block content %}
<p><strong>Autor:</strong> {{ articulo.autor.nombre|title }}</p>
<p><strong>Sección:</strong> {% if articulo.seccion %}{{ articulo.seccion.nombre|default_if_none:"Sin sección" }}{% else %}Sin sección{% endif %}</p>
<p><strong>Publicado el:</strong> {{ articulo.publicado_en|date:"d/m/Y H:i" }}</p>
<hr/>
<h3>Contenido:</h3>
<p>{{ articulo.contenido|linebreaks }}</p>
{% endblock %}


