{% extends "base.html" %}
{% load humanize %}

{% block title %}Estadísticas de Artículos{% endblock %}
{% block header %}<h1>Estadísticas Generales de Artículos</h1>{% endblock %}

{% block content %}
<ul>
  <li>Total de artículos: {{ estadisticas.total_articulos|intcomma }}</li>
  <li>Promedio de longitud del contenido: {{ estadisticas.promedio_longitud|floatformat:2 }} caracteres</li>
  <li>Máxima longitud de contenido: {{ estadisticas.max_longitud|length }}</li>
  <li>Mínima longitud de contenido: {{ estadisticas.min_longitud|length }}</li>
</ul>
{% endblock %}
